In [2]:
import numpy as np
import pandas as pd

# 현재 인력 현황

### 업종 중분류 및 소분류 컬럼명 수정

In [4]:
xlsx = pd.read_csv('../data/datalab_search_volumn(ver2.0).csv')

xlsx.rename(columns={
                xlsx.columns[0] : "연도"}, inplace=True)

In [5]:
xlsx

     연도  데이터개발자  데이터과학자  데이터기획자  데이터분석가  데이터아키텍트  데이터엔지니어  데이터컨설턴트  데이터베이스관리자
0  2018    0.03   43.33    0.03   23.68     0.02     2.60     0.05      31.66
1  2019    0.10   51.01    0.01   23.94     0.02     7.77     0.00      23.36
2  2020    0.49   50.49    0.05   43.31     0.16    20.35     0.00      19.12
3  2021    0.63   49.87    0.04   47.13     0.27    36.01     0.05      11.04