In [1]:
import numpy as np
import pandas as pd

### 업종 중분류 및 소분류 컬럼명 수정

In [8]:
xlsx = pd.read_excel('../data/data_ids_sales.xlsx')

xlsx.rename(columns={
                xlsx.columns[0] : "업종 중분류",
                xlsx.columns[1] : "업종 소분류"}, inplace=True)

In [9]:
xlsx

,업종 중분류,업종 소분류,2016년,2017년,2018년,2019년,2020년,2021년 (E)
0,데이터 처리 및 관리 솔루션 개발·공급업,데이터 수집·연계 솔루션 개발·공급업,1345,1393,1621.772014,1871.235803,2122,2787
1,데이터 처리 및 관리 솔루션 개발·공급업,데이터베이스 관리 시스템 솔루션 개발·공급업,6148,6121,6775.481280,7509.620281,8979,11062
2,데이터 처리 및 관리 솔루션 개발·공급업,데이터 분석 솔루션 개발·공급업,1249,1325,1781.516155,2014.369121,2586,2951
3,데이터 처리 및 관리 솔루션 개발·공급업,데이터 관리 솔루션 개발·공급업,5367,4628,4971.604003,5203.494864,6022,7151
4,데이터 처리 및 관리 솔루션 개발·공급업,데이터 보안 솔루션 개발·공급업,5367,1213,1516.904050,1975.393368,2558,3146
5,데이터 처리 및 관리 솔루션 개발·공급업,빅데이터 통합 플랫폼 솔루션 개발·공급업,1611,1776,1949.404500,2231.278359,2866,3468
6,데이터 구축 및 컨설팅 서비스업,데이터 구축/가공 서비스업,54571,57207,58993.113875,62222.502732,72805,81188
7,데이터 구축 및 컨설팅 서비스업,데이터 관련 컨설팅 서비스업,1279,1687,2296.717025,3189.179358,4194,5147
8,데이터 판매 및 제공 서비스업,데이터 판매/중개 서비스업,6123,6608,8198.186753,11331.937956,16054,20781
9,데이터 판매 및 제공 서비스업,정보제공 서비스업,59854,61570,67579.799051,71032.535398,81838,93289

### 연도별로 데이터프레임으로 쪼개기

In [14]:
xlsx_2016 = xlsx[['업종 중분류', '업종 소분류', '2016년']]
xlsx_2017 = xlsx[['업종 중분류', '업종 소분류', '2017년']]
xlsx_2018 = xlsx[['업종 중분류', '업종 소분류', '2018년']]
xlsx_2019 = xlsx[['업종 중분류', '업종 소분류', '2019년']]
xlsx_2020 = xlsx[['업종 중분류', '업종 소분류', '2020년']]
xlsx_2021 = xlsx[['업종 중분류', '업종 소분류', '2021년 (E)']]

### 이전 컬럼(연도)를 시장 규모(매출:억원)로 바꾸기

In [15]:
xlsx_2016.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']
xlsx_2017.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']
xlsx_2018.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']
xlsx_2019.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']
xlsx_2020.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']
xlsx_2021.columns = ['업종 중분류', '업종 소분류', '시장규모(매출:억원)']

### 하나의 데이터프레임으로 다시 합치기

In [16]:
new_xlsx = pd.concat([xlsx_2016, xlsx_2017, xlsx_2018, xlsx_2019, xlsx_2020, xlsx_2021], axis=0)

In [17]:
new_xlsx['연도'] = 0

new_xlsx['연도'][0:10] = 2016
new_xlsx['연도'][10:20] = 2017
new_xlsx['연도'][20:30] = 2018
new_xlsx['연도'][30:40] = 2019
new_xlsx['연도'][40:50] = 2020
new_xlsx['연도'][50:60] = 2021

/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][0:10] = 2016
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][10:20] = 2017
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][20:30] = 2018
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][30:40] = 2019
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][40:50] = 2020
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_37804/4137071420.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][50:60] = 2021

In [18]:
new_xlsx.to_excel('../data/tableau(market_size).xlsx', index=False)