In [10]:
import numpy as np
import pandas as pd

### 업종 중분류 및 소분류 컬럼명 수정

In [11]:
xlsx = pd.read_excel('../data/data_ids_companycounts.xlsx')

xlsx.rename(columns={
                xlsx.columns[0] : "업종 중분류",
                xlsx.columns[1] : "업종 소분류"}, inplace=True)

In [12]:
xlsx

,업종 중분류,업종 소분류,2016년,2017년,2018년,2019년,2020년,2021년
0,데이터 처리 및 관리 솔루션 개발·공급업,데이터 수집·연계 솔루션 개발·공급업,399,341,445,504,518,551
1,데이터 처리 및 관리 솔루션 개발·공급업,데이터베이스 관리 시스템 솔루션 개발·공급업,155,135,119,146,149,186
2,데이터 처리 및 관리 솔루션 개발·공급업,데이터 분석 솔루션 개발·공급업,203,183,239,322,365,446
3,데이터 처리 및 관리 솔루션 개발·공급업,데이터 관리 솔루션 개발·공급업,879,854,1099,1059,1062,1105
4,데이터 처리 및 관리 솔루션 개발·공급업,데이터 보안 솔루션 개발·공급업,879,854,150,199,235,302
5,데이터 처리 및 관리 솔루션 개발·공급업,빅데이터 통합 플랫폼 솔루션 개발·공급업,65,95,78,126,158,206
6,데이터 구축 및 컨설팅 서비스업,데이터 구축/가공 서비스업,1870,1594,2252,2140,2158,2229
7,데이터 구축 및 컨설팅 서비스업,데이터 관련 컨설팅 서비스업,811,1004,419,534,593,729
8,데이터 판매 및 제공 서비스업,데이터 판매/중개 서비스업,2041,310,287,367,494,567
9,데이터 판매 및 제공 서비스업,정보제공 서비스업,303,2617,2065,2222,2282,2419

### 연도별로 데이터프레임으로 쪼개기

In [13]:
xlsx_2016 = xlsx[['업종 중분류', '업종 소분류', '2016년']]
xlsx_2017 = xlsx[['업종 중분류', '업종 소분류', '2017년']]
xlsx_2018 = xlsx[['업종 중분류', '업종 소분류', '2018년']]
xlsx_2019 = xlsx[['업종 중분류', '업종 소분류', '2019년']]
xlsx_2020 = xlsx[['업종 중분류', '업종 소분류', '2020년']]
xlsx_2021 = xlsx[['업종 중분류', '업종 소분류', '2021년']]

### 이전 컬럼(연도)를 영위 기업수로 바꾸기

In [15]:
xlsx_2016.columns = ['업종 중분류', '업종 소분류', '기업 영위수']
xlsx_2017.columns = ['업종 중분류', '업종 소분류', '기업 영위수']
xlsx_2018.columns = ['업종 중분류', '업종 소분류', '기업 영위수']
xlsx_2019.columns = ['업종 중분류', '업종 소분류', '기업 영위수']
xlsx_2020.columns = ['업종 중분류', '업종 소분류', '기업 영위수']
xlsx_2021.columns = ['업종 중분류', '업종 소분류', '기업 영위수']

### 하나의 데이터프레임으로 다시 합치기

In [16]:
new_xlsx = pd.concat([xlsx_2016, xlsx_2017, xlsx_2018, xlsx_2019, xlsx_2020, xlsx_2021], axis=0)

In [33]:
new_xlsx['연도'] = 0

new_xlsx['연도'][0:10] = 2016
new_xlsx['연도'][10:20] = 2017
new_xlsx['연도'][20:30] = 2018
new_xlsx['연도'][30:40] = 2019
new_xlsx['연도'][40:50] = 2020
new_xlsx['연도'][50:60] = 2021

/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][0:10] = 2016
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][10:20] = 2017
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][20:30] = 2018
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][30:40] = 2019
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][40:50] = 2020
/var/folders/cy/sw8s66dd02l8b9dj7pqk2ljm0000gn/T/ipykernel_30944/4137071420.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_xlsx['연도'][50:60] = 2021

In [36]:
new_xlsx.to_excel('../data/tableau(industry_classification).xlsx', index=False)

In [40]:
new_xlsx[new_xlsx['업종 소분류'] == '데이터 구축/가공 서비스업']['기업 영위수'].sum()

12243